@import "{{ site.theme }}"; /* Importing the site theme */

body {
    background-color: #007FFF; /* Light blue background */
    color: white; /* Optional: Changes text color for better readability */
    margin: 0; /* Optional: Removes default margins */
    padding: 20px; /* Optional: Adds padding around the content */
    font-family: Arial, sans-serif; /* Applying a common softer font */
    
    max-width: 800px; /* Set a maximum width for the body */
    margin: 0 auto;   /* Center the content horizontally */
    line-height: 1.5; /* Increase line spacing to 1.5 */
}

img {
    max-width: 90%; /* Ensure images are responsive and adjust the size */
    height: auto; /* Maintain aspect ratio */
}

/* Optional: Smaller images */
.small-img {
    width: 90%; /* Adjust this value to make images bigger, e.g., 90% */
}
