---
---

@import "{{ site.theme }}";
body {
    background-color: red;  /* Sky blue */
    color: white; /* Optional: Changes text color for better readability */
    margin: 0; /* Optional: Removes default margins */
    padding: 20px; /* Optional: Adds padding around the content */
}
